<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Add</servlet-name>
        <servlet-class>ch.conceptforge.hibernet_maven_javaee.Servlet_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Update</servlet-name>
        <servlet-class>ch.conceptforge.hibernet_maven_javaee.Servlet_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Delete</servlet-name>
        <servlet-class>ch.conceptforge.hibernet_maven_javaee.Servlet_Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Add</servlet-name>
        <url-pattern>/Servlet_Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Update</servlet-name>
        <url-pattern>/Servlet_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Delete</servlet-name>
        <url-pattern>/Servlet_Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
